body {
    background-image: url(/images/OELbg_top.jpg);
    background-attachment: fixed;
    background-color: transparent;
    background-position: 50% 0px;
    background-repeat: no-repeat no-repeat;
    margin: 0;
    position: relative;
}

header {
	text-align: center;
	width: 975px;
	margin: 0 auto;
	position: relative;
	padding:0;
}

header .logo img {
	float:left;
	width: 400px;
	padding-bottom:27px;
	margin-top:40px;
	border:none;
}

nav
{
	font-size:small;
	font-family:Arial;
}

nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
	display: inline-block;
}

nav ul li
{
	float:left;
	width:auto;
}

nav ul li a {
	background:#9458c0;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9458c0), color-stop(1, #4f1978));
	background-image: -moz-linear-gradient( center top, #9458c0 5%, #4f1978 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9458c0, endColorstr=#4f1978);
	background-image: -ms-linear-gradient(to bottom, #9458c0 5%, #4f1978 100% );
	text-indent:0;
	border:1px solid #692f95;
	display:inline-block;
	color:#ffffff;
	font-family:sans-serif;
	font-size:medium;
	font-weight:normal;
	font-style:normal;
	width:100%;
	line-height:55px;
	text-decoration:none;
	text-align:center;
}

nav ul li a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8e5cb3), color-stop(1, #8e5cb3) );
	background:-moz-linear-gradient( center top, #8e5cb3 5%, #8e5cb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8e5cb3, endColorstr=#8e5cb3);
	background-color:#8e5cb3;
}

nav ul li a:active {
	position:relative;
}

nav ul li a:link, nav ul li a:visited {
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	margin:0 52px 0 0;
}

.first {
	-webkit-border-top-left-radius:0.48em; 
	-webkit-border-bottom-left-radius:0.48em; 
	border-top-left-radius:0.48em; 
	border-bottom-left-radius:0.48em; 
	-moz-border-top-left-radius:0.48em; 
	-moz-border-bottom-left-radius:0.48em;
}

.last {
	-webkit-border-top-right-radius:0.68em; 
	-webkit-border-bottom-right-radius:0.68em; 
	border-top-right-radius:0.68em; 
	border-bottom-right-radius:0.68em; 
	-moz-border-top-right-radius:0.68em; 
	-moz-border-bottom-right-radius:0.68em;
}

.content {
	font-family: sans-serif;
	margin: 0 auto;
	padding: 20px 0 200px 0;
	position: relative;
	width: 975px;
}

.title-header {
    display: block;
    padding: 8px 0 10px 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: #458fce;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #458fce), color-stop(1, #346e9c));
    background-image: -moz-linear-gradient( center top, #458fce 5%, #346e9c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#458fce, endColorstr=#346e9c);
    background-image: -ms-linear-gradient(to bottom, #458fce 5%, #346e9c 100% );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.title-header h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 26px;
    margin: 0;
    width: 694px
}
.title-header span.logo {
    background: transparent url(/images/infobox-logo.png) no-repeat 0 0;
    display: inline-block;
    position: relative;
    height: 27px;
    top: 4px;
    width: 62px;
}
.content a.terms {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}
.content #view a.terms {
    right: 124px;
}
.content #view .specific a.terms {
    color: #ffffff;
    right: 24px;
}
.content .title-header a.terms {
    color: #ffffff !important;
    text-decoration: underline !important;
    right: 64px;
    top: 16px;
}
.content #view a.terms:hover, .content #view a.terms:focus {
    text-decoration: underline;
}
.content .title-header a.print {
    background: transparent url(/images/print.png) no-repeat 0 0;
    display: block;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 30px;
}
.coalition.counties .title-header {
    padding: 6px 0 12px 10px;
}
.coalition.counties.hybrid .title-header span.logo {
    top: 6px;
}
.coalition.counties .title-header h1 {
    font-size: 20px;
    margin: 0;
}
.content a:link, .content a:visited {
	color: blue;
	text-decoration: none;
}
#banner {
    background-color: #0e76bc;
    font-family: sans-serif;
    height: 102px;
    margin: 0 auto;
    margin-top: 10px;
    width: 975px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#banner h1 {
    display: block;
    margin: 6px 0 0 40px;
}
#banner h1 a {
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}
#banner h1 a:hover, #banner h1 a:focus {
    text-decoration: underline;
}
#banner img {
    display: inline-block;
    float: right;
}
#titleblock {
    display: inline-block;
    width: 552px;
}
#breadcrumb {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
}
#breadcrumb li, #breadcrumb li a {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#breadcrumb li a:hover, #breadcrumb li a:focus {
    text-decoration: underline;
}
.chart-container {
    background-color: #f0f0f0;
    clear: both;
    display: block;
    margin: 0 0 20px 0;
    padding: 12px;
    position: relative;
}
.chart-container h2 {
    border-bottom: 1px solid #a4a4a4;
    color: #1c5e99;
    margin-top: 0;
    position: relative;
}
.chart-container h2 span {
    float: right;
}
.chart-container p {
    font-family: Arial;
    font-size: 15px;
}
#view {
    background-color: #4f81bd;
    margin-bottom: 20px;
    padding: 10px 10px 6px 10px;
    position: relative;
}
#view > div {
    display: inline-block;
}
#view a {
    color: #ffffff;
    font-weight: bold;
}
#view > a {
    float: right;
}
#view .first {
    border-radius: 0;
}
#view label {
    color: #ffffff;
    font-weight: bold;
}
#view .widget {
    display: inline-block;
    position: relative;
}
#view .widget > div {
    display: inline-block;
}
#view .widget-display, #view .widget, #view label {
    position: relative;
    vertical-align: top;
}
#view label {
    top: 4px;
}
#view .widget-display {
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    min-height: 20px;
    padding: 4px 8px;
    position: relative;
}
#view .widget-display div {
    display: inline-block;
    background-color: #dde3e9;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
}
#view .widget-display div span {
    background: transparent url(/images/dropdown-arrow-sprite.png) no-repeat 0 -18px;
    display: block;
    height: 20px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 20px;
}
#view .widget-display.drop div span {
    background-position: 0 0;
}
#view .widget.county .widget-display {
    width: 170px;
}
#view .widget.coalition .widget-display {
    width: 320px;
}
#view .widget.second {
    margin-left: 60px;
}
#view .widget ul {
    background-color: #ffffff;
    display: block;
    height: 300px;
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    overflow-y: scroll;
    right: 0;
    top: 12px;
    z-index: 1;
}
#view .widget.coalition ul {
    width: 336px;
}
#view .widget.county ul {
    width: 186px;
}
#view .widget ul div {
    display: block;
}
#view .widget ul li {
    cursor: pointer;
    padding-left: 10px;
}
#view .widget ul.hide {
    display: none;
}
#view .specific {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    position: relative;
}
.tabs, .tabs > div, .tabs > div svg {
    position: relative;
}
.tabs ul {
    background-color: #dedede;
    display: inline-block;
    margin: 0;
    max-width: 900px;
    padding: 0;
}
.tabs ul li {
    color: #646464;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 4px;
}
.tabs ul li.current {
    background-color: #ffffff;
    color: #1c5e99;
}
.tabs ul li span {
    display: none;
}
.chart-container a.display-chart {
    color: #1c5e99;
    cursor: pointer;
    font-weight: bold;
}
.chart-container a.display-chart:hover, .chart-container a.display-chart:focus {
    color: #39bbeb;
}
.coalition.counties {
    background: transparent url(/images/infobox-bkgnd.jpg) repeat-x 0 100%;
    padding: 0 4px 8px 4px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.coalition.counties img {
    display: block;
    max-width: 100%;
    height: auto;
}
.coalition.counties .county {
    display: inline-block;
}
.coalition.counties .county .image {
    border: 1px solid #cccccc !important;
    margin: 4px;
    padding: 6px;
    width: 112px;
    -moz-box-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
}
.coalition.counties .county a, .coalition.counties .county span {
    color: #000000;
    display: block;
    text-align: center;
}
.coalition.counties.hybrid .county .image, .coalition.counties.hybrid .county span {
    cursor: pointer;
}
.coalition.counties .county:hover a, .coalition.counties .county:focus a {
    text-decoration: underline;
}
.coalition.counties .county div a {
    margin-left: 0;
}
dt {
    font-weight: bold;
    padding: 20px 50px 0 0;
}
dt:first-child {
    font-weight: bold;
    padding: 0px 50px 0 0;
}
.content-container {
    background-color: #f0f0f0;
    margin: 20px 0 20px 0;
    padding: 12px;
}
#center-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
footer {
	font-size:x-small;
	font-family:Arial;
	color:white;
	display: block;
	text-align:left;
	position:relative;
	width:975px;	
	margin: 0 auto;
}

footer nav {
	background:#ee1c25; 
	width:975px; 
	height:35px; 
	color:#FFFFFF; 
	position:relative; 
	z-index: 10;
	-webkit-border-top-right-radius:0.58em; 
	-moz-border-top-right-radius:0.58em; 
	border-top-right-radius:0.58em;
	-webkit-border-top-left-radius:0.58em; 
	-moz-border-top-left-radius:0.58em; 
	border-top-left-radius:0.58em;
}

footer nav ul {
	display:block; 
	text-align:center;
}

footer nav ul li {
	display: inline;
	filter: none;
}

footer nav ul li a, footer nav ul li a:link, footer nav ul li a:visited {
	display:inline-block;
	font-family:Arial;
	font-size:medium;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	text-align:center;
	color:#FFFFFF;
	text-decoration:none;
	padding:0;
	background: none;
	border: none;
	line-height: 35px;
}

.footer-content-wrapper {
	background:#692f95; 
	height:120px; 
	width:975px; 
	color:#FFFFFF; 
	padding:14px 0 20px 0; 
	text-align:center; 
	-webkit-border-bottom-right-radius:0.58em; 
	-webkit-border-bottom-left-radius:0.58em; 
	-moz-border-bottom-right-radius:0.58em; 
	-moz-border-bottom-left-radius:0.58em; 
	border-bottom-right-radius:0.58em; 
	border-bottom-left-radius:0.58em;
}

.footer-content {
	display: block;
}

footer .contact {
	display:inline-block; 
	float:left; 
	width:30%; 
	padding-top:14px; 
	margin-left: 54px; 
	position:relative; 
	text-align:left;
	font-size: 1.25em;
}

footer .copyright {
	display:inline-block; 
	float:left; 
	padding-top:54px; 
	width:60%; 
	padding-left:34px; 
	position:relative;
	font-size: 1.25em;
}