#banner, header nav, footer, .title-header a, .title-header span, #view, a.display-chart {
    display: none;
}
body {
    background: none;
}
header .logo {
    height: 117px;
    width: 400px;
}
.chart-container {
    display: inline-block;
    overflow: visible;
}
.tabs, .tabs > div, .tabs > div svg {
    display: inline-block;
    overflow: visible;
}
.content {
    padding-top: 0;
}
header .logo img {
    float: none;
    margin: 0;
    padding: 0;
}
.title-header h1 {
    color: #000000;
    display: block;
    text-align: left;
}