<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US">
<head>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
    <script type="text/javascript" charset="utf-8" src="https://www.google.com/jsapi"></script>
    <script>google.load("visualization", "1", {packages:["corechart"]});</script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/json3.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/ember-1.9.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" charset="utf-8" src="/js/html5shiv.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/html5shiv-printshiv.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="logo">
        <a href="http://www.floridaearlylearning.com"><img alt="Office of Early Learning Logo" src="/images/oellogo.png"></a>
    </div>
    <nav>
        <ul>
            <li><a class="first" href="http://www.floridaearlylearning.com">OEL Home</a></li>
            <li><a href="http://www.floridaearlylearning.com/Parents.aspx">Parents</a></li>
            <li><a href="http://www.floridaearlylearning.com/Providers.aspx">Providers</a></li>
            <li><a href="http://www.floridaearlylearning.com/coalitions.aspx">Coalitions</a></li>
            <li><a href="http://www.floridaearlylearning.com/oel_resources.aspx">OEL Resources</a></li>
            <li><a href="http://www.floridaearlylearning.com/statewide_initiatives.aspx">Statewide Initiatives</a></li>
            <li><a class="last" href="http://www.floridaearlylearning.com/about_us.aspx">About Us</a></li>
        </ul>
    </nav>
</header>
    <!-- Loaded on every page of the application-->
    <script type="text/x-handlebars" data-template-name="application">
        <div id="banner">
            <div id="titleblock">
                <ul id="breadcrumb">
                    {{outlet "breadcrumbs"}}
                </ul>
            </div>
            <img src="/images/banner.jpg" />
        </div>
        <!-- The outlet is where content from other parts of the application is outputted into -->
        <div class="content">
            {{ outlet }}
        </div>
    </script>
    
    <script type="text/x-handlebars" id="breadcrumbs">
      {{#each link in content}}
        {{#if link.context.title}}
            <li>{{#if link.context.titlelink}}<a {{bind-attr href="link.context.titlelink"}}>{{#if link.context.withdash}}>> {{/if}}{{link.context.title}}</a>{{else}}{{#if link.context.withdash}}>> {{/if}}{{link.context.title}}{{/if}}</li>
        {{/if}}
      {{/each}}
    </script>

    <!-- Index is loaded on the home page of the application -->
    <script type="text/x-handlebars" id="index">
        <div class="title-header">
            <span class="logo"></span><h1>{{model.title}}</h1><a class="terms" href="#/terms">Term Definitions</a><a class="print" href="javascript:window.print()"></a>
        </div>
        <div id="view" data-widget-label="View Filter">
            <div class="widget coalition first">
                <label>View by Coalition</label>
                {{#view "dropdown"}}<div class="widget-display" data-ul=".widget.coalition ul">Coalition<div data-ul=".widget.coalition ul"><span data-ul=".widget.coalition ul"></span></div></div>{{/view}}
                {{render "coalitiondropdown" county}}
            </div>
            <div class="widget county second">
                <label>View by County</label>
                {{#view "dropdown"}}<div class="widget-display" data-ul=".widget.county ul">County<div data-ul=".widget.county ul"><span data-ul=".widget.county ul"></span></div></div>{{/view}}
                {{render "countydropdown" county}}
            </div>
            <div><br/>View Data to see specific indicators for the selected region</div>
        </div>
        {{#each item in model.div}}
            <div class="chart-container">
                {{#if item.subdiv}}
                    {{#if item.chart_title}}
                        <h2>{{ item.chart_title }}<span>As of {{ model.date }}</span></h2>
                    {{/if}}
                    {{#if item.description}}
                        <div class="description">{{{ item.description }}}</div>
                    {{/if}}
                    <a class="display-chart"><span>View</span> {{ item.chart_title }}</a>
                    <div class="tabs">
                        {{#if item.subarray}}
                        <ul>
                        {{#each subitem in item.subdiv}}
                            <li><span>#{{ subitem.name }}</span>{{ subitem.chart_title }}</li>
                        {{/each}}
                        </ul>
                        {{/if}}
                        {{#each subitem in item.subdiv}}
                            <div {{ bind-attr id="subitem.name" }} class="chart" style="width: 900px; height: 500px;"></div>
                        {{/each}}
                    </div>
                {{else}}
                    {{#if item.chart_title}}
                        <h2>{{ item.chart_title }}<span>As of {{ model.date }}</span></h2>
                    {{/if}}
                    <a class="display-chart"><span>View</span> {{ item.chart_title }}</a>
                    <div {{ bind-attr id="item.name" }} class="chart" style="width: 900px; height: 500px;"></div>
                {{/if}}
            </div>
        {{/each}}
    </script>

    <!-- Any pages that passes both county and coalition variables this is loaded -->
    <script type="text/x-handlebars" id="countycoalition">
        <div class="title-header">
            <span class="logo"></span><h1>{{model.title}}</h1><a class="terms" href="#/terms">Term Definitions</a><a class="print" href="javascript:window.print()"></a>
        </div>
        <div id="view" data-widget-label="View Filter">
            <div class="widget coalition first">
                <label>View by Coalition</label>
                {{#view "dropdown"}}<div class="widget-display" data-ul=".widget.coalition ul">{{model.coalition}}<div data-ul=".widget.coalition ul"><span data-ul=".widget.coalition ul"></span></div></div>{{/view}}
                {{render "coalitiondropdown" county}}
            </div>
            <div class="widget county second">
                <label>View by County</label>
                {{#view "dropdown"}}<div class="widget-display" data-ul=".widget.county ul">{{model.county}}<div data-ul=".widget.county ul"><span data-ul=".widget.county ul"></span></div></div>{{/view}}
                {{render "countydropdown" county}}
            </div>
            <div><br/>View Data to see specific indicators for the selected region</div>
        </div>
        {{#each item in model.div}}
            <div class="chart-container">
                {{#if item.subdiv}}
                    {{#if item.chart_title}}
                        <h2>{{ item.chart_title }}<span>As of {{ model.date }}</span></h2>
                    {{/if}}
                    {{#if item.description}}
                        <div class="description">{{{ item.description }}}</div>
                    {{/if}}
                    <a class="display-chart"><span>View</span> {{ item.chart_title }}</a>
                    <div class="tabs">
                        {{#if item.subarray}}
                        <ul>
                        {{#each subitem in item.subdiv}}
                            <li><span>#{{ subitem.name }}</span>{{ subitem.chart_title }}</li>
                        {{/each}}
                        </ul>
                        {{/if}}
                        {{#each subitem in item.subdiv}}
                            <div {{ bind-attr id="subitem.name" }} class="chart" style="width: 900px; height: 500px;"></div>
                        {{/each}}
                    </div>
                {{else}}
                    {{#if item.chart_title}}
                        <h2>{{ item.chart_title }}<span>As of {{ model.date }}</span></h2>
                    {{/if}}
                    <a class="display-chart"><span>View</span> {{ item.chart_title }}</a>
                    <div {{ bind-attr id="item.name" }} class="chart" style="width: 900px; height: 500px;"></div>
                {{/if}}
            </div>
        {{/each}}
        <!-- Will pull all other counties associated in this county-->
        {{render "countycoalitionhybrid" model}}
    </script>

    <!-- All county pages will have this loaded -->
    <script type="text/x-handlebars" id="county">
        <div class="title-header">
            <span class="logo"></span><h1>{{model.title}}</h1><a class="terms" href="#/terms">Term Definitions</a><a class="print" href="javascript:window.print()"></a>
        </div>
        <div id="view" data-widget-label="View Filter">
            <div class="widget coalition first">
                <label>View by Coalition</label>
                {{#view "dropdown"}}<div class="widget-display" data-ul=".widget.coalition ul">{{model.coalition}}<div data-ul=".widget.coalition ul"><span data-ul=".widget.coalition ul"></span></div></div>{{/view}}
                {{render "coalitiondropdown" coalition}}
            </div>
            <div class="widget county second">
                <label>View by County</label>
                {{#view "dropdown"}}<div class="widget-display" data-ul=".widget.county ul">{{model.county}}<div data-ul=".widget.county ul"><span data-ul=".widget.county ul"></span></div></div>{{/view}}
                {{render "countydropdown" county}}
            </div>
            <div><br/>View Data to see specific indicators for the selected region</div>
        </div>
        {{#each item in model.div}}
            <div class="chart-container">
                {{#if item.subdiv}}
                    {{#if item.chart_title}}
                        <h2>{{ item.chart_title }}<span>As of {{ model.date }}</span></h2>
                    {{/if}}
                    {{#if item.description}}
                        <div class="description">{{{ item.description }}}</div>
                    {{/if}}
                    <a class="display-chart"><span>View</span> {{ item.chart_title }}</a>
                    <div class="tabs">
                        {{#if item.subarray}}
                        <ul>
                        {{#each subitem in item.subdiv}}
                            <li><span>#{{ subitem.name }}</span>{{ subitem.chart_title }}</li>
                        {{/each}}
                        </ul>
                        {{/if}}
                        {{#each subitem in item.subdiv}}
                            <div {{ bind-attr id="subitem.name" }} class="chart" style="width: 900px; height: 500px;"></div>
                        {{/each}}
                    </div>
                {{else}}
                    {{#if item.chart_title}}
                        <h2>{{ item.chart_title }}<span>As of {{ model.date }}</span></h2>
                    {{/if}}
                    <a class="display-chart"><span>View</span> {{ item.chart_title }}</a>
                    <div {{ bind-attr id="item.name" }} class="chart" style="width: 900px; height: 500px;"></div>
                {{/if}}
            </div>
        {{/each}}
        <!-- Will pull all other counties associated in this county-->
        {{render "countycoalitionhybrid" model}}
    </script>

    <!-- Generates the county dropdown -->
    <script type="text/x-handlebars" id="countydropdown">
        <ul class="hide">
            {{#each item in county}}
            {{#view "clickable"}}<li {{ bind-attr data-link="item.link" }}>{{item.name}}</li>{{/view}}
            {{/each}}
        </ul>
    </script>

    <!-- Generates the coalition dropdown -->
    <script type="text/x-handlebars" id="coalitiondropdown">
        <ul class="hide">
            {{#each item in coalition}}
            {{#view "clickable"}}<li {{ bind-attr data-link="item.link" }}>{{item.name}}</li>{{/view}}
            {{/each}}
        </ul>
    </script>

    <!-- Generates the coalition view -->
    <script type="text/x-handlebars" id="coalition">
        <div class="title-header">
            <span class="logo"></span><h1>{{model.title}}</h1><a class="terms" href="#/terms">Term Definitions</a><a class="print" href="javascript:window.print()"></a>
        </div>
        <div id="view" data-widget-label="View Filter">
            {{#view "clickable"}}<a href="/index.html">Return to Dashboard Home</a>{{/view}}
            <a {{ bind-attr href="model.link" }}>Total Region</a>
        </div>
        <div class="coalition counties">
            {{#each item in model.div}}
            <div class="county">
                <div class="image"><a {{ bind-attr href="item.link" }}><img {{ bind-attr src="item.image" }} /></a></div>
                <a {{ bind-attr href="item.link" }}>{{ item.county_name }}</a>
            </div>
            {{/each}}
        </div>
    </script>

    <!-- When loading the associated counties in a coalition this is used -->
    <script type="text/x-handlebars" id="countycoalitionhybrid">
        <div class="coalition counties hybrid">
            <div class="title-header">
                <span class="logo"></span><h1>{{ countycoalitionhybrid.title }}</h1>
            </div>
            {{#each item in countycoalitionhybrid.div}}
            <div class="county">
                <div class="image">{{#view "clickable"}}<img {{ bind-attr src="item.image" }} {{ bind-attr data-link="item.link" }} />{{/view}}</div>
                {{#view "clickable"}}<span {{ bind-attr data-link="item.link" }}>{{ item.county_name }}</span>{{/view}}
            </div>
            {{/each}}
        </div>
    </script>

    <!-- Terms Definition Page -->
    <script type="text/x-handlebars" id="terms">
        <dl>
            <dt>Active Provider</dt>
            <dd>Child care/early education businesses that have entered into a contract with an early learning coalition to provide services to eligible children and are receiving payment for services.</dd>
            <dt>At-risk children</dt>
            <dd>Children of families in a Family Safety and Preservation Program administered by Department of Children and Families.</dd>
            <dt>Enrolled</dt>
            <dd>The number of unduplicated children enrolled in a program and receiving services at a point in time.</dd>
            <dt>Fiscal Year</dt>
            <dd>Florida&#39;s fiscal year runs from July 1 of each year to June 30 of the next year, e.g. Fiscal Year 15-16 is July 1, 2015, to June 30, 2016.</dd>
            <dt>Infant</dt>
            <dd>Children who are younger than 1 year.</dd>
            <dt>Informals not licensed</dt>
            <dd>Child care taking place in a person&#39;s home where one adult cares for children from only one family and qualifies for participation in the state&#39;s School Readiness Program.</dd>
            <dt>Licensed private centers</dt>
            <dd>A non-profit or for-profit facility that provides child care/early education as its principal business activity and is licensed by the Department of Children and Families.</dd>
            <dt>License-exempt centers</dt>
            <dd>A child care/early education facility that is an integral part of a religious or parochial organization and exempt from licensing by the Department of Children and Families.</dd>
            <dt>Large family child care homes</dt>
            <dd>An occupied residence licensed by the Department of Children and Families in which child care/early education is provided for children from at least two unrelated families. A maximum of 20 children may receive services. Other requirements apply.</dd>
            <dt>Licensed family child care homes</dt>
            <dd>An occupied residence licensed by the Department of Children and Families in which child care/early education is regularly provided for children from at least two unrelated families. A maximum of 10 children may receive services. Other requirements apply.</dd>
            <dt>Payments</dt>
            <dd>Payments received by active providers for child care/early education services to children in either or both the School Readiness Program and VPK Education Program. This amount does not include payment for indirect services such as administrative or facility overhead expenses. School Readiness Program payments include match funds from other sources.</dd>
            <dt>Private schools</dt>
            <dd>Private schools licensed by the Department of Children and Families providing child care/early education services, sometimes with additional grades/levels of education. Additional requirements apply.</dd>
            <dt>Public schools</dt>
            <dd>Child care/early education programs not operated or staffed directly by public schools on the premises of public schools. This includes child care/early education services in public schools for children younger than 3 years of age who are eligible to participate in programs for disabled or severely handicapped children.</dd>
            <dt>Registered family child care homes</dt>
            <dd>An occupied residence registered with the Department of Children and Families in which child care/early education is provided for children. The provider receives a payment, fee or grant for one or more of the children receiving care. Other requirements apply.</dd>
            <dt>School age</dt>
            <dd>A child who is at least 5 years of age by September 1 at the beginning of the school year and who attends kindergarten through grade five.</dd>
            <dt>School-based</dt>
            <dd>Child care in a private school or public school setting.</dd>
            <dt>School Readiness Program</dt>
            <dd>Florida child care/tuition assistance program for working families designed to increase children&#39;s chances of achieving future educational success by preparing children to be ready to learn.</dd>
            <dt>Special needs</dt>
            <dd>Children older than 3 years of age and younger than 13 with any physical, mental or health care condition that affects or prevents their development, achievement or function at the same level as other children of the same age in a child care or early learning setting.</dd>
            <dt>Special needs-teen</dt>
            <dd>Children under the age of 19 if physically or mentally incapable of self-care whose parent(s) are working or attending a job training or education program. Other requirements apply.</dd>
            <dt>Specialized instructional services</dt>
            <dd>Early education services provided for a disabled child with a current individual educational plan (IEP), who is eligible for specialized instructional services instead of attending a traditional VPK program.</dd>
            <dt>Toddler</dt>
            <dd>Children who are 1 year to 2 years old.</dd>
            <dt>VPK - Voluntary Prekindergarten Education Program</dt>
            <dd>Free Florida early education program designed to prepare Florida&#39;s 4-year-olds for kindergarten by building a foundation for educational success.</dd>
            <dt>Waiting list</dt>
            <dd>The state&#39;s web-based application for families to allow application and enrollment for School Readiness Program services once provider seats become available. Parents must re-apply for the waiting list every six months. Other requirements apply.</dd>
            <dt>Working families</dt>
            <dd>Families where one or both guardians/parents are employed at least part time or are attending school/training, and are meeting income requirements.</dd>
        </dl>
    </script>

<div id="center-footer">
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="http://www.floridaearlylearning.com">OEL Home</a>
                </li>
                <li>
                    <a href="http://www.floridaearlylearning.com/parents.aspx">Parents</a>
                </li>
                <li>
                    <a href="http://www.floridaearlylearning.com/providers.aspx">Providers</a>
                </li>
                <li>
                    <a href="http://www.floridaearlylearning.com/coalitions.aspx">Coalitions</a>
                </li>
                <li>
                    <a href="http://www.floridaearlylearning.com/OEL_resources.aspx">OEL Resources</a> 
                </li>
                <li>
                    <a href="http://www.floridaearlylearning.com/statewide_initiatives.aspx">Statewide Initiatives</a> 
                </li>
                <li>
                    <a href="http://www.floridaearlylearning.com/about_us.aspx">About Us</a>
                </li>
            </ul>
        </nav>
        <div class="footer-content-wrapper">
            <div class="footer-content">
                <div class="contact">
                    Florida Office of Early Learning<br>
                    250 Marriott Drive<br>
                    Tallahassee, FL 32399<br>
                    Toll-free: 866-357-3239<br>
                    TTY/TTD: Dial 711
                </div>
                <div class="copyright">
                    &#169; 2015 Florida Office of Early Learning | An Equal Opportunity Employer/Program
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>